body {
    background-color: lightblue;
}

#foto {

    height: 370px;
    width: 740px;     
 }
 

div {
    
    border-color: rgb(255, 0, 240);
    text-align: center;
    }



h1 {
    text-align: center;
    font-size: 1cm;
    
}


p {
    text-align: center;
}

h2 {
    text-align: center;
    
}

#eu {
    font-variant: initial;
    color: pink;
    text-align: left;
}








h3 {
    text-align: center;
    font-size: medium;
}


h4 {
    text-align: center;
    font-size: medium;
}


h5 {
   text-align: center;
    font-size: medium;
    
}
h6 {
   text-align: center;
    font-size: medium;
    border: 2px solid rgb(255, 0, 0);
}
    
.fim {
    text-align: center;
    font-size: medium;

}



img {
    height: 150px;
    width: 300px;

}
.segundafoto {
    border: 10px solid rgb(255, 200, 20);
    margin: 0px;
    padding-right: 0px;
    display: inline;

}
    


.dicas-de-leitura {
    font-size: large;
    background-color: blue;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: center;

}

.vermelho {
    color: red;
}



.container {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    }
.row {
    display: flex;
    flex-wrap: wrap;

}
.col-6 {
    flex: auto;
    width: 50%;

}


.col-3 {
    flex: auto;
    width: 25%;

}
.col-4 {
    flex: auto;
    width: 33.3333%;

}








